---
layout: default
---

<header id="masthead" >
    <div class="overlay-layer-wrap">
        <div class=" overlay-layer">
            <div class="intro-section">
                <h1 class="intro">
                    Fischer Ski klub Šumava Vimperk
                </h1>
            </div>
        </div>
    </div>
</header>

<div class="section-gray">
    <div class="container">
        <div class="row main-info" >
            <div class="col-md-7 post rounded" >

                <div class="alert alert-info" role="alert">
                    <h2><a href="/cp-zactva">Český pohár žactva </a></h2>
                    <a href="/cp-zactva"><img src="img/cp-zactvo-img_full.jpg" class="rounded img-thumbnail"></a>
                    <div class="float-none mt-2">
                        Český pohár v běhu na lyžích - starší žactvo.
                        <ul>
                            <li>Vimperk - lyžařský areál Vodník</li>
                            <li>22.1 - 23. 1. 2022</li>
                        </ul>
                    </div>
                </div>

                {% for post in site.posts limit:2 %}
                    <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <p class="font-weight-bold">
                        Autor: {{ post.author}} <small> | {{ post.date | date:"%Y:%m:%d"  }} </small>
                    </p>
                    <img src="{{ post.preview-image }}" class="img-fluid mb-3" alt="Responsive image">
                    <div class="content">
                     {{ post.excerpt }}
                    </div>
                {% endfor %}
                <div class="text-center mb-2">
                    <a href="/novinky" class="btn btn-warning btn-lg text-center " role="button" aria-pressed="true">Daší novinky</a>
                </div>

            </div>

    		<div class="col-md-5">
    			<div id="fb-root"></div>
    			  <script>
    			      (function(d, s, id)
    			      {
    			          var js, fjs = d.getElementsByTagName(s)[0];
    			          if (d.getElementById(id)) return;
    			          js = d.createElement(s); js.id = id;
    			          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
    			          fjs.parentNode.insertBefore(js, fjs);
    			      }(document, 'script', 'facebook-jssdk'));
    			    </script>
    			  <div class="fb-page" data-href="https://www.facebook.com/skisumavavimperk/" data-tabs="timeline" data-width="500"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
    			  <blockquote class="fb-xfbml-parse-ignore" cite="https://www.facebook.com/skisumavavimperk/"><a href="https://www.facebook.com/skisumavavimperk/">Fischer Ski klub Šumava Vimperk</a></blockquote>
    			</div>
    		</div>
        </div>
    </div>
</div>
<div class="container mb-3">
    <div class="row " >
        <div class="col-md-8">
            <div id="left-panel"">
                <div id="projects" class="grid">
                    <h3 class="my-4">Pořádáme</h3>
                    <div class="row">
                        {% for project in site.data.projects %}
                            <div class="col-lg-6 col-md-12" id="{{ project-id }}">
                                <div  class="grid-content" style="background-image: url('{{ project.bg-image }}')" >
                                    <a href="{{ project.url}}" class="roundedAll">
                                        <span class="invisible">{{ project.name }}</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                    {% if site.data.related.size  > 0 %}
                        <div id="related" class="grid">
                            <h3 class="my-4">Odkazy</h3>
                            <div class="row">
                                {% assign css_class = "col-lg-12 col-md-12" %}
                                {% if site.data.related.size  > 1 %}
                                    {% assign css_class = "col-lg-6 col-md-12" %}
                                {% endif %}
                                {% for item in site.data.related %}
                                    <div class="{{ css_class }}">
                                        <div class="text-center">
                                            <a href="{{ item.url }}">
                                                <h4 class="my-4">{{ item.name }}</h4>
                                            </a>
                                            <div  class="grid-content" style="background-image: url('{{ item.bg-image }}')" >
                                                <a href="{{ item.url}}"  class="roundedAll">
                                                    <span class="invisible">{{ item.name }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
            </div>
        </div>
        <div id="calendar" class="col-md-4" >
            <h3 class="my-4">Kalendář</h3>
            <ul class="list-group list-group-flush">
                {% for event in site.data.event-calendar %}
                    <li class="list-group-item">
                        <h5>
                            {% if event.url %}
                                <a href="{{ event.url }}" >{{ event.name }}</a>
                            {% else %}
                                {{ event.name }}
                            {% endif %}
                        </h5>
                        <div>
                            {{ event.date }}
                            {% if event.proposition %}
                                <a href="{{ event.proposition }}"> Propozice </a>
                            {% endif %}
                            {% if event.registration %}
                                <a href="{{ event.registration }}"> Přihláška  </a>
                            {% endif %}
                            {% if event.results %}
                                <a href="{{ event.results }}"> Výsledky </a>
                            {% endif %}
                            {% if event.description %}
                                <p>
                                    {{ event.description }}
                                </p>
                            {% endif %}
                        <div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<!-- <div class="section-gray">
    <div id="vodnik-kalendar" class="container">
        <h3 class="my-4">Ski areál Vodník - Rozpis</h3>
        <div class="responsiveCal">
        	<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23F6BF26&amp;ctz=Europe%2FPrague&amp;src=M2RuZnY3dGc2bjA4azdpMmFobHRvazAxZTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showTabs=1&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
        	</iframe>
        </div>
    </div>
</div> -->


<script type="text/javascript">

    var ChangeFBPagePlugin = function () {

       //getting parent box height
       //var container_height = (Number($('.fb-column').height()) - (Number($('.fb-column-header').height()) + Number($('.fb-column-header').css('margin-bottom').replace("px", "")) + Number(($('.fb-column').css('padding-top').replace("px", "")*2)))).toFixed(0);
        var containerHeight = Math.floor(Number($(".main-info .post").outerHeight()));
        var oW = Number($(".main-info").outerWidth());
        var containerWidth = Math.floor(oW - $(".post").outerWidth())
        if (!isNaN(containerHeight)) {
            $(".fb-page").attr("data-height", containerHeight);
            if (!isNaN(containerWidth)){
                if (containerWidth > 100)
                    $(".fb-page").attr("data-width", containerWidth);
                else
                    $(".fb-page").attr("data-width",  Math.floor(oW));
            }
            if (typeof FB !== 'undefined' ) {
            FB.XFBML.parse();
            }
        }

    }

    var SetProjectPadding = function() {
        $(".project-content").each ( function(){
            var innerH = Number($(this).innerHeight());
            var height = Number($(this).find(" > h4").height())
            var pT = Math.round((innerH - height)/2)
            var pInnerH = $(this).find(" > h4").css("padding-top", pT + "px")
        })
        $("#calendar ul").innerHeight($("#left-panel").innerHeight());
    }

    $(window).on('resize', function() {
       setTimeout(function(){ChangeFBPagePlugin()});
       SetProjectPadding()
    });

    $(window).on('load', function() {
       setTimeout(function(){ChangeFBPagePlugin()});
       SetProjectPadding()


       $(".navbar ul li a[href^='/#']").on('click', function(e) {

            // prevent default anchor click behaviour
            e.preventDefault();
            // store hash
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
                }, 1000, function(){
               // when done, add hash to url
               //window.location.hash = hash;
            });

        });
    });

</script>
