<!DOCTYPE html>
<html lang="{{ site.lang }}">
	{% include header.html %}
	<body class="">
		{% include navbar.html %}
		<div class="action-page">
			<header id="masthead" >
			    <div class="overlay-layer-wrap" style="background-image: url({{ page.preview-image }})">
			        <div class="overlay-layer container">
			            <div class="intro-section rounded">
							<h1 >{{ page.title }}</h1>
			            </div>
						<div class="date rounded text-light bg-secondary mt-1 p-2">
							<h5>{{ page.date }} </small></h5>
						</div>
			        </div>
			    </div>
			</header>
			<div class="content container mt-5 mb-5">
			 	{{ content }}
			</div>
		</div>
	{% include footer.html %}
	</body>
</html>
